In [3]:
!pip install pandas

import pandas as pd
import os

Requirement already satisfied: pandas in c:\users\odhomi\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\odhomi\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\odhomi\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\odhomi\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\odhomi\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\odhomi\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [15]:
import pandas as pd
import os

# Use the correct file path
directory = r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files"  # Change to your directory

# List all CSV files in the directory
csv_files = [file for file in os.listdir(directory) if file.endswith('.csv')]
print(csv_files)  # Optional: Print the list of files to verify

# Initialize an empty list to hold all DataFrames
dataframes = []

# Loop through each CSV file and read its data into a DataFrame
for file in csv_files:
    file_path = os.path.join(directory, file)  # Create full file path
    data = pd.read_csv(file_path)  # Read the CSV file
    dataframes.append(data)  # Append DataFrame to the list

# Concatenate all DataFrames into a single DataFrame
merged_data = pd.concat(dataframes, ignore_index=True)

# Optional: Print the shape of the merged DataFrame
print(merged_data.shape)

# Save the merged DataFrame to a new CSV file
merged_data.to_csv('merged_data.csv', index=False)

# Read the merged data for verification
merged_data = pd.read_csv('merged_data.csv')
merged_data  # Display the first few rows

['Berlin_data (1).csv', 'Frankfurt_data.csv', 'hamburg_data.csv', 'koln_data.csv', 'München_data.csv', 'stuttgart_data.csv']
(4835, 13)

,id,title,wg_type,rent_price,area,owner,City,Neighbourhood,Street,rental_type,postal_code,start_date,end_date
0,10606504,Spacious 2 room apartment in Moabit,2-Zimmer-Wohnung,1400,60.0,Peter Wheeler,Berlin,Moabit,Paulstraße 25,Temporary,10557,2024-11-01,2025-09-30
1,10900998,"Helle, stylische Wohnung am Wannsee",3-Zimmer-Wohnung,400,73.0,Sarah,Berlin,Wannsee,Endestr. 40,Temporary,14109,2024-12-23,2024-12-27
2,8983154,3 Zimmer (2 Schlafzimmer) Wohnung mit Garten i...,3-Zimmer-Wohnung,1300,60.0,Marianne ZUZULA,Berlin,Friedrichshain,Kochhannstrasse 26,Temporary,10249,2024-10-18,2025-03-31
3,10338622,Cosy studio in Prenzlauer Berg,1-Zimmer-Wohnung,1280,35.0,Irit,Berlin,Prenzlauer Berg,Gotlandstrasse,Temporary,10439,2024-11-01,2025-10-31
4,10056657,URBANELITE.COM // No deposit! (no Kaution) // ...,6er WG,799,15.0,Urban Elite,Berlin,Friedrichshain,Revaler Straße,Long-term,10243,2024-11-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,11237792,Gemütliches Zimmer in Stuttgart West ab Oktobe...,2er WG,652,23.0,Shubham Sinha,Stuttgart,NaN,traubenstr 48,Long-term,70176,2024-10-15,NaN
4831,11148126,Picturesque room in a well connected locality ...,1-Zimmer-Wohnung,391,12.0,TONMOY RAKSHIT,Stuttgart,Untertürkheim,In der Au 16C,Temporary,70327,2024-12-01,2025-01-05
4832,11262735,eine wunderschöne Zimmerwohnung in einer beste...,4er WG,390,12.0,Kodjo Rodrigue,Stuttgart,Ost,schwarenbergstraße 145,Temporary,70184,2024-11-01,2026-10-31
4833,8897512,Zentrales WG Zimmer zur Untermiete,6er WG,350,14.0,Mario,Stuttgart,West,Lindenspürstraße 31,Temporary,70176,2024-09-17,2025-03-30
4834,11123759,"1-Zimmer-Wohnung zu vermieten in Steinenbronn,...",1-Zimmer-Wohnung,2590,NaN,Spotahome,Stuttgart,NaN,Stuttgarter Str. 71144,Long-term,70619,2026-01-01,NaN

In [48]:
merged_data_df = merged_data.copy()

In [62]:
schema = "rental_data"
host = "127.0.0.1"
user = "root"
password = "password"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [65]:
from sqlalchemy import create_engine

# Create an engine for connecting to MySQL
engine = create_engine(connection_string)

# Test the connection
with engine.connect() as connection:
    print("Connection successful")

Connection successful

In [72]:
# Transfer the DataFrame to MySQL (will create a new table if it doesn't exist)
merged_data_df.to_sql('german_cities', con=engine, if_exists='replace', index=False)

4835

In [89]:
import pandas as pd

# File paths for the CSV files
file_paths = [
    r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\hamburg_data.csv",
    r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\koln_data.csv",
    r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\München_data.csv",
    r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\stuttgart_data.csv",
    r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\Berlin_data (1).csv",
    r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\Frankfurt_data.csv"
]

# Read each CSV file and store them in a list of DataFrames
data_frames = [pd.read_csv(file) for file in file_paths]

# Concatenate all DataFrames into one
merged_df = pd.concat(data_frames, ignore_index=True)

# Display the merged DataFrame
merged_df

,id,title,wg_type,rent_price,area,owner,City,Neighbourhood,Street,rental_type,postal_code,start_date,end_date
0,9641383,Schönes sonniges Zimmer + eigenes Bad an Katze...,2er WG,520,23.0,Sünje Pohle,Hamburg,Fuhlsbüttel,Etzestraße 32,Long-term,22335,2024-10-07,NaN
1,5694859,"Hamburg Zentrum Mitte, 3er Wg tolle Lage, toll...",3er WG,730,26.0,A. Dogan,Hamburg,Hamm-Mitte,Marienthalerstrasse 17,Long-term,20535,2025-01-01,NaN
2,11347898,Suche berufstätige Mitbewohnerin (Eimsbüttel),2er WG,886,74.0,Amelie,Hamburg,Eimsbüttel,Scheideweg,Long-term,20253,2024-10-15,NaN
3,10026051,Möblierte 1 Zimmerwohnung zur Untermiete in Ha...,1-Zimmer-Wohnung,680,33.0,Karen K.,Hamburg,Hamm,Diagonalstraße,Temporary,20537,2024-10-07,2025-02-15
4,11377604,Nette/r Mitbewohner/in in 2er WG gesucht,2er WG,700,14.0,Alicia Toholt,Hamburg,Hohenfelde / Eilbek,Hasselbrookstraße,Long-term,22089,2024-12-01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4830,8482355,Sunny furnished apartment all inclusive | balc...,2-Zimmer-Wohnung,1450,50.0,Florian Schoenherr,Frankfurt,am Main ...,Hessenplatz 3,Temporary,60487,2025-09-01,2033-09-01
4831,9597524,EURO 2024 // 2 Zimmer/Room for rent // 14.6.-1...,3er WG,150,15.0,Biggi,Frankfurt,am Main,Weberstraße,Temporary,60318,2024-06-13,2024-07-15
4832,10524423,Helle Moderne Wohnung für wöchentliche Kurzzei...,2-Zimmer-Wohnung,60,60.0,Meike M.,Frankfurt,am Main ...,Kleyerstraße,Temporary,60326,2024-01-02,2024-09-30
4833,10577525,WG-Zimmer tageweise zu vermieten,2er WG,40,15.0,Jasmin,Frankfurt,am Main,eppenhainer str 11,Temporary,60326,2023-10-18,2024-10-16
4834,11127395,(Verfügbar 1-24 Monate) - Einzelapartment in d...,1-Zimmer-Wohnung,1200,22.0,Homelike Internet GmbH,Frankfurt,am Main,Werftstraße,Temporary,60327,2024-10-15,2025-07-31

In [83]:
#merged_df_data = merged_df.copy()

In [97]:
schema = "Rental_data_new"
host = "127.0.0.1"
user = "root"
password = "password"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [100]:
from sqlalchemy import create_engine

# Create an engine for connecting to MySQL
engine = create_engine(connection_string)

# Test the connection
with engine.connect() as connection:
    print("Connection successful")

Connection successful

In [104]:
# Transfer the DataFrame to MySQL (will create a new table if it doesn't exist)
merged_df.to_sql('german_cities', con=engine, if_exists='replace', index=False)

4835

In [120]:
path = r"C:\Users\odhomi\Desktop\Data Analysis\Bootcamp WBS\Final Project\CSV Files\merged_data.csv"

merged_data = pd.read_csv(path)
merged_data_df = merged_data.copy()

In [124]:
schema = "rental"
host = "127.0.0.1"
user = "root"
password = "password"
port = 3306

connection_string = f'mysql+pymysql://{user}:{password}@{host}:{port}/{schema}'

In [128]:
from sqlalchemy import create_engine

# Create an engine for connecting to MySQL
engine = create_engine(connection_string)

# Test the connection
with engine.connect() as connection:
    print("Connection successful")

Connection successful

In [131]:
# Transfer the DataFrame to MySQL (will create a new table if it doesn't exist)
merged_data_df.to_sql('german_cities', con=engine, if_exists='replace', index=False)

4835